@import './base.css';


.body {
  background-color: #F5F0E7;
}


#app {
  background-color: #F5F0E7;
}


.container {
  width: 100%;
  min-height: 100vh;
  padding-left: 0%;
  padding-right: 0%;
  box-sizing: border-box;
  overflow: hidden;

}


.btn-pers {
  position: relative;
  left: 50%;  
  transform: translateX(-50%);
}

.authRow {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}
.input {
  padding: 5px;
}
label {
  padding: 5px;
}

.signUpform {
  margin-top: -100px;
  background-color: #353E57;
  color: white;
  width: 50%;
  padding: 30px;
  border-radius: 0.5rem;
  box-shadow: 15px 15px 10px -15px #111;    

}

/* .homeButton {
  font-size: 18px;
  padding:5px;
  position: absolute;
  top: 1%;
  right: -0.8rem;
  background: #008080;
  cursor: pointer;
  z-index: 1;
}
 */

 .button-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 2rem;
  margin-left: -1rem;
}

.homeButton {
  margin: 0 1rem;
  margin-top:1rem;
  background: #008080;

}


.altOptionAuth {
  text-align: center;
  margin-top: 15px;
  font-weight: 500;
}

.altOptionAuth > span {
  color: teal;
  cursor: pointer;
  font-weight: 500;
}

.signoutButton {
  margin-top: 10px;
  height: 80%;
  padding: 5px;  
}

.row {
  display:flex;
  margin: 150px 0;
}

.col-1 {
  position: relative;
  flex-basis: 40%;
}

.col-1 h2 {
  font-size: 54px;
}

.col-1 h3 {
  font-size: 30px;
  color: #000000;
  font-weight: 400;
  margin: 20px 0 10px;
}

.col-1 p{
  font-size: 54px;
  color: #b7b7b7;
  font-weight: 100;
}

.col-1 h4{
  margin: 30px 0;
  font-size: 20px;

}

.col-1 {
  position: relative;
  padding-left: 50px; 
  
}

.col-1::after {
  content: '';
  display: block; 
  width: 10px;
  height: 100%;
/*   background: linear-gradient(15deg, #13547a 0%, #008080 100%);
 */  background: linear-gradient(15deg, #008080 0%, #13547a 70%, #80d0c7 100%);

 
/*   background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
 */  position: absolute; 
  right: 520px; 
  top: 0;
  bottom: 0;
}


.col-2 {
  position: relative;
  flex-basis: 60%;
  display: flex;

}

.col-2 .homeImage {
  width: 60%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.svg {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  
}


button {
  width: 140px;
  border: 0px;
  padding: 12px 10px;
  outline: none;
  color: white;
  background: #008080;
  cursor: pointer;
  border-radius: 7px;
  margin-top: 20px;
  margin-right: 20px;
  transition: 0.5s;
  margin: 14px;
}

button:hover {
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.svg {
  z-index: 0;
}

.firstFloor {
  padding-top: 3%;
  width: 100%;
  height: 0;
  padding-top: 3%;
  padding-bottom: 50%; /* Set this to the aspect ratio of your SVG (e.g. 100% for a square SVG, 50% for a rectangular SVG with a 2:1 aspect ratio) */
  position: relative;
}

.firstFloorSVG {
  position: absolute;
  width: 100%;
  height: 100%;

}




@media (hover: hover) {
 
  h1 a:hover {
    border-bottom: 4px solid #2b91b9;
  }

@media only screen and (max-width:1300px) {

    .row {
      width: 1000px;
      margin: 8px 0;
    }

    .col-1 { 
      padding: 0 12px 0 100px;
      width: 100%;
    }
    .col-1::after {
      position: absolute; 
      right: 400px; 
    }
    .col-1 h2 {
      
      font-size: 40px;
      width: 80%;
    }
    
    .col-1 h3 {
      font-size: 24px;
      width: 80%;
    }

    
    


    .col-2 {
      flex-basis: 100%;
      justify-content: center;
    } 
   /*  .firstFloor {
=======
    .firstFloor {

      padding-top: 10%;
      width: 100%;
      height: 0;
      padding-top: 10%;
      padding-bottom: 100%; 
      position: relative
    } */
   /*  .firstFloorSVG {
      position: absolute;
      width: 100%;
      height: 100%;
    
    } */
}
@media only screen and (max-width:600px) { 
  .svg {
    display: none;
  }


  .col-1 {
    margin-top: 40px;
  }
  .col-1 h2 {
    font-size: 30px;
  }
  .col-1 h4{
    font-size: 10px;
  }


  .col-2 .homeImage {
    width: 50%;
  }
}
}
